<div class="container">
    <form [formGroup]="loginForm">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                formControlName="username">
            <div id="usernameHelp" class="form-text">We'll never share your username with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
        </div>
        <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <button class="btn btn-secondary" routerLink="/register" routerLinkActive="active">
            Don't have an account? Register here.
        </button>
    </form>
</div>