<div class="container-fluid">
  <h2>Products</h2>
  <div class="row">
    <div *ngFor="let product of products" class="col-md-4 mb-5 mx-auto">
      <mat-card class="card mx-auto" [style.width.px]="400">
        <mat-card-header class="card-header">
          <a
            mat-card-title
            [title]="product.name + ' details'"
            [routerLink]="['/products', product.id]"
            >{{ product.name }}</a
          >
        </mat-card-header>
        <mat-card-content
          class="card-content align-self-center text-center pt-2"
        >
          <img
            mat-card-image
            class="card-img-top"
            src="{{ product.imgSrc }}"
            alt="Mobile"
          />
          <p class="pt-2" *ngIf="product.description">
            Description: {{ product.description }}
          </p>
          <p class="pt-2" *ngIf="!product.description">
            There is no description available
          </p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <app-product-alerts
            [product]="product"
            (notify)="onNotify()"
          ></app-product-alerts>
          <button
            mat-button
            type="button"
            class="btn btn-light"
            (click)="share()"
          >
            Share
          </button>
          <button
            mat-button
            type="button"
            class="btn btn-light"
            (click)="onAddToFavourites(product)"
          >
            Add to Favourites
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
