<div class="container-fluid">
  <h2>Favourites</h2>
  <div class="row">
    <div *ngFor="let fav of favs" class="col-md-4 mb-5">
      <mat-card class="card mx-auto">
        <mat-card-header class="card-header">
          <a
            mat-card-title
            [title]="fav.name + ' details'"
            [routerLink]="['/products', fav.id]"
            >{{ fav.name }}</a
          >
        </mat-card-header>
        <!-- <img mat-card-image class="card-img-top" src={{product.imgSrc}} alt="Mobile"> -->
        <mat-card-content class="card-content">
          <p class="pt-2" *ngIf="fav.description">
            Description: {{ fav.description }}
          </p>
          <p class="pt-2" *ngIf="!fav.description">
            There is no description available
          </p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button
            class="btn btn-light"
            mat-button
            type="button"
            (click)="onRemove(fav.id)"
          >
            Remove from Favourites
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
