<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner rounded">
            <div class="carousel-item active bg-light" style="background-image: url(./assets/img/carous2.jpg);">
                <div class="row">
                    <div class="col-2 col-lg-3">
                        <span class="rec z-index-3"></span>
                        <span class="greyRec z-index-1"></span>
                        <span class="position-relative fixedImg">
                            <!-- <img class="testpos z-index-3" src="https://www.forth.gr/files/forth-ite-el.jpg"
                            alt="faistos disk" data-src="https://www.forth.gr/files/forth-ite-el.jpg"> -->
                        </span>
                        <div class="align-items-center justify-content-center h-100 z-index-3 textTest">
                            <h3 class="position-relative textBoxStyle appear-animation animated fadeInDownShorter appear-animation-visible"
                                data-appear-animation="fadeInDownShorter" data-appear-animation-delay="0"
                                style="animation-delay: 0ms;">1983 - 2023: Celebrating 40 Years of Excellence!</h3>
                        </div>
                    </div>
                    <div class="container">
                        <div class="carousel-caption rounded bg-secondary bg-opacity-25 px-2 text-start">
                            <h1>Schedule an appointment</h1>
                            <p>Online appointments and doctor availability checks are quick and easy.</p>
                        </div>
                    </div>
                </div>
                <!-- <img class="mx-auto d-block" src="./assets/img/carous2.jpg" alt=""> -->
            </div>
            <div class="carousel-item bg-light" style="background-image: url(./assets/img/carous1.jpg);">
                <div class="col-2 col-lg-3">
                    <span class="rec z-index-3"></span>
                    <span class="greyRec z-index-1"></span>
                    <span class="position-relative fixedImg">
                        <!-- <img class="testpos z-index-3" src="https://www.forth.gr/files/forth-ite-el.jpg"
                            alt="faistos disk" data-src="https://www.forth.gr/files/forth-ite-el.jpg"> -->
                    </span>
                </div>
                <div class="container">
                    <div class="carousel-caption rounded bg-secondary bg-opacity-25 px-2">
                        <h1>Appointments made easy</h1>
                        <p>Select the contracted doctor/medical advisor of your preference from the online list</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-light" style="background-image: url(./assets/img/carous3.jpg);">
                <div class="col-2 col-lg-3">
                    <span class="rec z-index-3"></span>
                    <span class="greyRec z-index-1"></span>
                    <span class="position-relative fixedImg">
                        <!-- <img class="testpos z-index-3" src="https://www.forth.gr/files/forth-ite-el.jpg"
                            alt="faistos disk" data-src="https://www.forth.gr/files/forth-ite-el.jpg"> -->
                    </span>
                </div>
                <div class="container">
                    <div class="carousel-caption rounded bg-secondary bg-opacity-25 px-2 text-end">
                        <h1>Doctor availability</h1>
                        <p>View availabilities and select the date and time of your preference</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev z-index-3" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <span
                    class="border rounded-circle mx-auto d-inline-flex align-items-center justify-content-center bg-light points">
                    <fa-icon icon="hospital-user" class="text-secondary"></fa-icon>
                </span>

                <h2>Heading</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is the
                    first
                    column.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <span
                    class="border rounded-circle mx-auto d-inline-flex align-items-center justify-content-center bg-light points">
                    <fa-icon icon="user-doctor" class="text-secondary"></fa-icon>
                </span>

                <h2>Heading</h2>
                <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second
                    column.
                </p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <span
                    class="border rounded-circle mx-auto d-inline-flex align-items-center justify-content-center bg-light points">
                    <fa-icon icon="notes-medical" class="text-secondary"></fa-icon>
                </span>

                <h2>Heading</h2>
                <p>And lastly this, the third column of representative placeholder content.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
        </div>

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your
                        mind.</span>
                </h2>
                <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
                    prose
                    here.</p>
            </div>
            <div class="col-md-5 text-end">
                <img src="./assets/img/marketing1.jpg" width="400" />
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for
                        yourself.</span></h2>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how
                    this
                    layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="./assets/img/marketing2.png" width="500" />
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
                    intended to be actually read, simply here to give you a better view of what this would look like
                    with some
                    actual content. Your content.</p>
            </div>
            <div class="col-md-5">
                <img src="./assets/img/marketing3.jpg" width="500" />
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
    </div>

    <a class="navbar-brand" [routerLink]="['/list']">Go to listing</a>

    <!-- FOOTER -->
    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
    </footer>
</main>