<main>
    <!-- Back to top button -->
    <button type="button" (click)="backToTop()" class="btn btn-danger rounded-circle btn-lg" id="btn-back-to-top">
        <fa-icon icon="chevron-up" class="fs-5 text-light"></fa-icon>
    </button>


    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner rounded">
            <div class="carousel-item active bg-light" style="background-image: url(./assets/img/carous2.jpg);"
                data-bs-interval="3000">
                <div class="col-8 col-lg-3">
                    <span class="rec z-index-3"></span>
                    <span class="greyRec z-index-1"></span>
                    <span class="position-relative fixedImg">
                        <!-- <img class="testpos z-index-3" src=""> -->
                    </span>
                    <div class="align-items-center justify-content-center h-100 z-index-3 textTest">
                        <div class="position-relative textBoxStyle appear-animation animated fadeInDownShorter appear-animation-visible"
                            data-appear-animation="fadeInDownShorter" data-appear-animation-delay="0"
                            style="animation-delay: 0ms;">
                            <h3>Schedule an appointment with your doctor</h3>
                            <hr>
                            <h6>Online appointments and doctor availability checks are quick and easy.</h6>
                        </div>
                    </div>
                </div>
                <!-- <img class="mx-auto d-block" src="./assets/img/carous2.jpg" alt=""> -->
            </div>
            <div class="carousel-item bg-light" style="background-image: url(./assets/img/carous1.jpg);"
                data-bs-interval="20000">
                <div class="col-8 col-lg-3">
                    <span class="rec z-index-3"></span>
                    <span class="greyRec z-index-1"></span>
                    <div class="align-items-center justify-content-center h-100 z-index-3 textTest">
                        <div class="position-relative textBoxStyle appear-animation animated fadeInDownShorter appear-animation-visible"
                            data-appear-animation="fadeInDownShorter" data-appear-animation-delay="0"
                            style="animation-delay: 0ms;">
                            <h3>Easy and flexible appointments</h3>
                            <hr>
                            <h6>Select the doctor/medical advisor of your preference from the online list.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-light" style="background-image: url(./assets/img/carous3.jpg);"
                data-bs-interval="20000">
                <div class="col-8 col-lg-3">
                    <span class="rec z-index-3"></span>
                    <span class="greyRec z-index-1"></span>
                    <div class="align-items-center justify-content-center h-100 z-index-3 textTest">
                        <div class="position-relative textBoxStyle appear-animation animated fadeInDownShorter appear-animation-visible"
                            data-appear-animation="fadeInDownShorter" data-appear-animation-delay="0"
                            style="animation-delay: 0ms;">
                            <h3>Doctor availability</h3>
                            <hr>
                            <h6>View availabilities and select the date and time zone of your preference.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev z-index-3" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <!-- <div class="row">
            <div class="col-lg-4">
                <span
                    class="border rounded-circle mx-auto d-inline-flex align-items-center justify-content-center bg-light points">
                    <fa-icon icon="hospital-user" class="text-secondary"></fa-icon>
                </span>

                <h2>Heading</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is the
                    first
                    column.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <span
                    class="border rounded-circle mx-auto d-inline-flex align-items-center justify-content-center bg-light points">
                    <fa-icon icon="user-doctor" class="text-secondary"></fa-icon>
                </span>

                <h2>Heading</h2>
                <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second
                    column.
                </p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <span
                    class="border rounded-circle mx-auto d-inline-flex align-items-center justify-content-center bg-light points">
                    <fa-icon icon="notes-medical" class="text-secondary"></fa-icon>
                </span>

                <h2>Heading</h2>
                <p>And lastly this, the third column of representative placeholder content.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
        </div> -->

        <!-- START THE FEATURETTES -->

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Book a medical appointment<span class="text-muted"> Online.</span>
                </h2>
                <ul class="lead list-group list-group-flush">
                    <li class="list-group-item border-0">
                        You can easily and quickly book your medical appointment at Health Care facilities</li>
                </ul>
            </div>
            <div class="col-md-5 text-end">
                <img src="./assets/img/marketing2.png" class="img-fluid" />
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Moreover, <span class="text-muted">you can</span></h2>
                <ul class="lead list-group list-group-flush">
                    <li class="list-group-item border-0">
                        Cancel appointments you have already booked
                    </li>
                    <li class="list-group-item border-0">Manage how you want to be informed about your appointments</li>
                    <li class="list-group-item border-0">
                        See the list of all your past appointments
                    </li>
                </ul>

            </div>
            <div class="col-md-5 order-md-1">
                <img src="./assets/img/marketing3.jpg" class="img-fluid" />
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette mb-5">
            <div class="col-md-7">
                <h2 class="featurette-heading">What you will <span class="text-muted">need</span></h2>
                <ul class="lead list-group list-group-flush">
                    <li class="list-group-item border-0">
                        Your personal credentials
                    <li class="list-group-item border-0">
                        Your or your dependant family member's Social Insurance Number
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <img src="./assets/img/marketing1.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
</main>