<div [class.example-container]="true">
  <!-- <div [class.example-is-mobile]="mobileQuery.matches"> -->
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/']">
      <h1>My Store</h1>
    </a>

    <a class="button fancy-button" routerLink="/cart">
      <i class="material-icons">shopping_cart</i>Checkout
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <!-- [style.marginTop.px]="!mobileQuery.matches ? 56 : 0" -->
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a class="button fancy-button" routerLink="/favourites">
          <i class="material-icons">favorite_border</i>Favourites
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="button fancy-button" routerLink="/shipping">
          <i class="material-icons">local_shipping</i>Shipping
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
