<nav class="navbar navbar-expand-lg navbar-light bg-light"
    *ngIf="router.url !== '/login' && router.url !== '/register'">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']"><img src="./assets/img/{{title}}.png" alt="" height="50" /></a>
        <a role="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto me-lg-0 mb-2 mb-lg-0" *ngIf="router.url == '/'">
                <li class="nav-item dropdown">
                    <a class="nav-link fw-bold" [routerLink]="['/list']">
                        Book an appointment
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto me-lg-0 mb-2 mb-lg-0" *ngIf="router.url !== '/'">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        Selected Dates
                    </a>
                    <ul class="dropdown-menu datetimeSelection" aria-labelledby="navbarDropdown">
                        <ng-container *ngIf="selectedSlots.length>0; else defaultLi;">
                            <ng-container *ngFor="let sel of selectedSlots; last as l">
                                <li>
                                    <div class="d-flex justify-content-between">
                                        <div class="px-1 ms-2 align-self-center">
                                            <span>{{sel.day + " " + sel.time}}</span>
                                        </div>
                                        <div class="px-1 align-self-center">
                                            <a class="btn btn-link" (click)="removeDateTime(sel)">
                                                <fa-icon icon="xmark"></fa-icon>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="!l">
                                    <hr class="dropdown-divider">
                                </li>
                            </ng-container>
                        </ng-container>
                        <ng-template #defaultLi>
                            <li class="ms-2">
                                <span>
                                    <small>You have not selected any dates!</small>
                                </span>
                            </li>
                        </ng-template>
                    </ul>
                </li>
            </ul>
            <!-- <a class="navbar-brand me-auto ms-auto">{{title}}</a> -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <form href="#">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <c-avatar color="secondary" textColor="white" class="text-uppercase"
                                size="sm">{{user.charAt(0)}}</c-avatar>
                            {{user}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="">My appointments</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#" (click)="logout()">Log Out</a></li>
                        </ul>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid justify-content-center mt-4">
    <div class="alert alert-danger" role="alert" *ngIf="authFailed && !loggedIn">
        Your user credentials (username and/or password) are incorrect. Please try again.
    </div>

    <router-outlet></router-outlet>
</div>
<!-- <footer class="text-center text-lg-start bg-white text-muted mt-auto border-top">
    <div class="text-center py-3 bg-light">
        © 2023 Copyright.
        <a class="text-reset" href="https://github.com/tsich">Stella Tsichlaki</a>
    </div>
</footer> -->
<footer class="bg-dark text-center text-white mt-auto">
    <!-- Grid container -->
    <div class="container p-2 pb-0">
        <!-- Section: Social media -->
        <section class="mb-2">
            <!-- Facebook -->
            <a class="btn btn-outline-light rounded-circle m-1" role="button">
                <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
            </a>

            <!-- Twitter -->
            <a class="btn btn-outline-light rounded-circle mx-1" role="button">
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            </a>

            <!-- Google -->
            <a class="btn btn-outline-light rounded-circle mx-1" role="button">
                <fa-icon [icon]="['fab', 'google']"></fa-icon>
            </a>

            <!-- Instagram -->
            <a class="btn btn-outline-light rounded-circle mx-1" role="button">
                <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            </a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light rounded-circle mx-1" role="button">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
            </a>

            <!-- Github -->
            <a class="btn btn-outline-light rounded-circle mx-1" href="https://github.com/tsich" role="button">
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
            </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 small" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright.
        <a class="text-white" href="https://github.com/tsich">Stella Tsichlaki</a>
    </div>
    <!-- Copyright -->
</footer>