<nav class="navbar navbar-expand-lg navbar-light bg-light"
    *ngIf="router.url !== '/login' && router.url !== '/register'">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/list', {slots}]">{{title}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        Selected Dates
                    </a>
                    <ul class="dropdown-menu datetimeSelection" aria-labelledby="navbarDropdown">
                        <ng-container *ngIf="selectedSlots.length>0; else defaultLi;">
                            <ng-container *ngFor="let sel of selectedSlots; last as l">
                                <li>
                                    <div class="d-flex justify-content-between">
                                        <div class="px-1 ms-2 align-self-center">
                                            <span>{{sel.day + " " + sel.time}}</span>
                                        </div>
                                        <div class="px-1 align-self-center">
                                            <a class="btn btn-link" (click)="removeDateTime(sel)">
                                                <fa-icon icon="xmark"></fa-icon>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="!l">
                                    <hr class="dropdown-divider">
                                </li>
                            </ng-container>
                        </ng-container>
                        <ng-template #defaultLi>
                            <li>
                                <span class="ms-2">
                                    <small>You have not selected any dates!</small>
                                </span>
                            </li>
                        </ng-template>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <form href="#">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">{{user}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="">My appointments</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#" (click)="logout()">Log Out</a></li>
                        </ul>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="alert alert-danger" role="alert" *ngIf="!this.loggedIn">
    A simple danger alert—check it out!

    {{loggedIn}}
</div>
<!-- <app-list [slots]="slots" (onCheck)="filterSelectedDateTime($event)" (onSelected)="onSelectedDateTime($event)"
    [maxAvailLength]="maxAvailLength">
</app-list> -->

<router-outlet></router-outlet>
<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted fixed-bottom border-top">
    <!-- Copyright -->
    <div class="text-center py-3 bg-light">
        © 2023 Copyright.
        <a class="text-reset" href="https://github.com/tsich">Stella Tsichlaki</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->